:root {
  --white: #ffffff;
  --black: #000000;

  --primary-text-color: #000000;

  --app-color-1: #ffffff;
  --app-color-2: #f6f6f6;
  --app-color-3: #ececec;
  --app-color-4: #e1e1e1;

  --primary-100: #d6e4ff;
  --primary-200: #adc8ff;
  --primary-300: #84a9ff;
  --primary-400: #6690ff;
  --primary-500: #3366ff;
  --primary-600: #254edb;
  --primary-700: #1939b7;
  --primary-800: #102693;
  --primary-900: #091a7a;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --primary-text-color: #ffffff; */

    --app-color-1: #0d0d0d;
    --app-color-2: #333333;
    --app-color-3: #666666;
    --app-color-4: #e6e6e6;

    --primary-100: #091a7a;
    --primary-200: #102693;
    --primary-300: #1939b7;
    --primary-400: #254edb;
    --primary-500: #3366ff;
    --primary-600: #6690ff;
    --primary-700: #84a9ff;
    --primary-800: #adc8ff;
    --primary-900: #d6e4ff;
  }
}
