/* purgecss start ignore */
@import "./constant.css";
@tailwind base;
@tailwind components;

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
  -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
  overflow: -moz-scrollbars-none;
  outline: none !important;
}

body {
  color: var(--primary-text-color);
  /* background-color: var(--app-color-1); */
  font-size: calc(12px + 0.4vw);
  font-family: "Manrope", sans-serif;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
*::-webkit-scrollbar {
  width: 0 !important;
}

@-ms-viewport {
  width: device-width;
}

i {
  font-size: calc(14px + 1vw);
}

li,
p {
  letter-spacing: 1px;
  transition: all 200ms ease-in;
  font-weight: 300;
  line-height: calc(1.3em + 0.5vw);
}

a {
  transition: all 200ms ease-in;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  letter-spacing: 1px;
  transition: all 200ms ease-in;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

small {
  font-size: 0.8rem;
}

@media (max-width: 768px) {
  html,
  body {
    font-size: calc(12px + 0.4vw);
  }
}

@tailwind utilities;
/* purgecss end ignore */
