.footer {
    h6 {
        text-align: center;
        color: rgba(88, 88, 88, 0.3);
        font-size: 12px;
    }

    li {
        display: inline-block;

        a {
            // font-size: 1.2rem;
            transition: 500ms;
        }
    }
}