// Variables 
$c-gray: #585858;
// $c-gray: #fff;
$c-pink: #F16D7E;
$c-blue: #289EF2;
$c-green: #16a085;
$c-cream: #FDEBD4;
// $c-cream: #111011;
nav,
ul,
li,
a,
p,
Link,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Josefin Sans', sans-serif;
    // color: #FDEBD4;
    color: #272B34;
    margin: .3em 0;
    line-height: 1.5;
}

h4 {
    font-weight: 400;
    font-size: 1.25rem;
}

p,
a {
    font-size: 1.3rem;
}

li {
    list-style: none;
    padding: 2px 10px;
}

a {
    color: $c-gray;
    text-decoration: none;
}

// .wrapper {
//     background-color: #FDEBD4;
// }
hr {
    height: 1px;
    background: $c-gray;
    border: none;
}

#___gatsby {
    background: transparent;
}

html {
    background: $c-cream;
}