.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 90vh;
  z-index: 2;
  a:hover {
    color: $c-blue;
  }
}

.main-section {
  h4 {
    font-weight: 400;
  }
  .profile-picture {
    button {
      border: none;
      background: initial;
      cursor: pointer;
      -webkit-appearance: value;
      -moz-appearance: value;
      outline: none;
    }
    img {
      max-width: 180px;
      max-height: 230px;
      -webkit-clip-path: polygon(
        50% 0%,
        80% 10%,
        100% 35%,
        100% 70%,
        80% 90%,
        50% 100%,
        20% 90%,
        0% 70%,
        0% 35%,
        20% 10%
      );
      clip-path: polygon(
        50% 0%,
        80% 10%,
        100% 35%,
        100% 70%,
        80% 90%,
        50% 100%,
        20% 90%,
        0% 70%,
        0% 35%,
        20% 10%
      );
    }
  }
  .name {
    font-size: 1.7rem;
  }
}

// Background Lines
.lines {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0%;
  background: transparent;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  .line {
    height: 1px;
    width: 400px;
    background: rgba(193, 193, 193, 0.323);
    position: absolute;
  }
  .line1 {
    top: 30%;
    left: -170px;
    transform: rotate(28deg) scaleX(1);
  }
  .line1:active {
    transform: rotate(28deg) scaleX(1);
  }
  .line2 {
    top: 100%;
    right: -150px;
    transform: rotate(48deg) scaleX(1);
  }
  .line2:active {
    transform: rotate(48deg) scaleX(1);
  }
  .line3 {
    bottom: 50%;
    right: -10px;
    transform: rotate(-18deg) scaleX(1);
  }
  .line3:active {
    transform: rotate(-18deg) scaleX(1);
  }
}

.image-normal {
  transition: 300ms all ease-in-out;
  transition-delay: 200ms;
  transform: translateY(0%) translateZ(0);
  img {
    transition: 500ms all ease-in-out;
    transition-delay: 200ms;
    transform: translateY(0%) translateZ(0);
  }
}

.image-clicked {
  transition: 500ms all ease-in-out;
  transform: translateY(-5%) translateZ(0);
  img {
    width: 80px;
    height: 80px;
    transition: 500ms all ease-in-out;
    transform: translateY(-5%) translateZ(0) rotateX(10deg);
    filter: opacity(80%);
  }
  h1 {
    transition: 300s all ease-in-out;
    transform: translateY(-5%) translateZ(0);
  }
  p {
    transition: 400ms all ease-in-out;
    transform: translateY(-5%) translateZ(0);
  }
  h4,
  h1 {
    font-size: 20px;
  }
  .on-click-para {
    transition: 0.6s all ease-in-out;
    max-width: 40%;
    margin: auto;
    font-size: 1.4rem;
  }
}

@media (max-width: 500px) {
  // Background Lines
  .lines {
    .line1 {
      width: 70%;
      top: 10%;
      left: -170px;
      transform: rotate(30deg) scaleX(1);
    }
    .line1:active {
      transform: rotate(28deg) scaleX(1);
    }
    .line2 {
      width: 70%;
      top: 100%;
      right: -150px;
      transform: rotate(48deg) scaleX(1);
    }
    .line2:active {
      transform: rotate(48deg) scaleX(1);
    }
    .line3 {
      width: 20%;
      bottom: 50%;
      right: -10px;
      transform: rotate(-18deg) scaleX(1);
    }
    .line3:active {
      transform: rotate(-18deg) scaleX(1);
    }
  }
  .image-clicked {
    .on-click-para {
      max-width: 90%;
    }
  }
}

//colors
$white: #fff;
$white_80: rgba(70, 146, 218, 0.664);
$color_trout_80_approx: rgba(70, 146, 218, 0.664);
$color_trout_approx: #4692da;

//@extend-elements
//original selectors
//.grid figure figcaption, .grid figure figcaption >a
%extend_1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.grid {
  position: relative;
  margin: 0 auto;
  padding: 1em 0 4em;
  max-width: 1000px;
  list-style: none;
  text-align: center;
  figure {
    position: relative;
    float: left;
    overflow: hidden;
    -webkit-clip-path: polygon(
      50% 0%,
      80% 10%,
      100% 35%,
      100% 70%,
      80% 90%,
      50% 100%,
      20% 90%,
      0% 70%,
      0% 35%,
      20% 10%
    );
    clip-path: polygon(
      50% 0,
      80% 10%,
      100% 35%,
      100% 70%,
      80% 90%,
      50% 100%,
      20% 90%,
      0 70%,
      0 35%,
      20% 10%
    );
    text-align: center;
    cursor: pointer;

    figcaption {
      color: $white;
      //Instead of the line below you could use @include backface-visibility($visibility)
      backface-visibility: hidden;
    }
    figcaption::before {
      pointer-events: none;
    }
    figcaption::after {
      pointer-events: none;
    }

    //
    p {
      font-size: 1em;
    }
  }
}
figure {
  &.effect-lily {
    p {
      transform: translate3d(0, 20px, 0);
      color: $white_80;
      opacity: 0;
      transition: opacity 0.2s, transform 0.35s;
    }
    &:hover {
      img {
        opacity: 1;
        //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
        transform: translate3d(0, 0, 0);
      }
      p {
        opacity: 1;
        transform: translate3d(0, 0, 0);
        transition-delay: 0.05s;
        transition-duration: 0.35s;
      }
    }
  }
  &.effect-sadie {
    figcaption::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        to bottom,
        rgba(72, 76, 97, 0) 0,
        $color_trout_80_approx 50%
      );
      content: "";
      opacity: 0;
      transform: translate3d(0, 50%, 0);
      transition: opacity 0.35s, transform 0.35s;
    }

    p {
      font-size: 1.2em;
      color: #fff;
      background: $color_trout_approx;
      border-radius: 20px;
      transition: opacity 0.35s, transform 0.35s;
      position: absolute;
      bottom: 30px;
      left: 60px;
      padding: 5px;
      opacity: 0;
      transform: translate3d(0, 20px, 0);
    }
    &:hover {
      figcaption::before {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
      p {
        opacity: 1;

        transform: translate3d(0, 0, 0);
      }
    }
  }
}
