.navigation {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    font-size: 10px;
    #home-link::after {
        background: $c-blue;
    }
    #about-link::after {
        background: $c-pink;
    }
    #projects-link::after {
        background: $c-green;
    }
    li {
        list-style: none;
        display: inline-block;
        position: relative;
        a:hover {
            color: $c-cream;
            ;
        }
        /*Shift*/
        a:after {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            margin: auto;
            width: 100%;
            height: 1px;
            content: '.';
            color: transparent;
            background: #CAC9CA;
            visibility: none;
            opacity: 0;
            z-index: -1;
            transition: 500ms all cubic-bezier(0.165, 0.84, 0.44, 1);
        }
        a:hover:after {
            opacity: 1;
            visibility: visible;
            height: 100%;
        }
    }
}